<html>
    <head> 
        <meta charset="utf-8" /> 
        <meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
        <meta name="viewport" content="width=device-width, initial-scale=1" /> 
        <meta name="description" content="" /> 
        <meta name="author" content="" /> 
        <title>修改密码</title> 
        <link href="/static/css/bootstrap.css" rel="stylesheet" /> 
        <link href="/static/css/bootstrap-theme.css" rel="stylesheet" /> 
        <link href="/static/css/font-awesome.min.css" rel="stylesheet" /> 
        <link href="/static/css/bootstrap-theme.css" rel="stylesheet" /> 
        <link href="/static/css/prettify.css" rel="stylesheet" /> 
        <link href="/static/css/select2.css" rel="stylesheet" /> 
        <link href="/static/css/base.css" rel="stylesheet" /> 
        <link href="/static/css/markdown.css" rel="stylesheet" /> 
        <link href="/static/css/main.css" rel="stylesheet" /> 
        <script type="text/javascript" src="/static/js/jquery.min.js"></script> 
        <script type="text/javascript" src="/static/js/jquery.extend.js"></script> 
        <script type="text/javascript" src="/static/js/bootstrap.js"></script> 
 
        <!--[if lt IE 9]>  
                                <script type="text/javascript" src="/account/static/js/jsml5shiv.js"></script>
        <![endif]-->
    </head> 
    <body> 
        <div id="wrapper"> 
		    <nav id="navbar" style="background-color:#2C263A;" class="navbar  navbar-static-top" role="navigation" >
			    <div class="container">
			        <div class="navbar-header">
			            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
			                <span class="sr-only">Toggle navigation</span>
			                <span class="icon-bar"></span>
			                <span class="icon-bar"></span>
			                <span class="icon-bar"></span>
			            </button>
			            <a class="logo" href="http://www.yopyun.com">
			                <img src="/static/img/logo.png">
			            </a>
			        </div>  
			        <div class="collapse navbar-collapse navbar-ex1-collapse">    
			        </div>
			    </div>
			</nav>
			
            <div id="main" class="container"> 
                <div class="row"> 
                    <div id="content" class="col-md-8 col-md-offset-2"> 
                        <div class="box"> 
                            <div class="cell last slim"> 
                                <div class="row"> 
                                    <div class="col-md-12 auth-page"> 
                                        <h3 class="title"> <i class="icon icon-leaf"></i> 修改密码 </h3> 
                                        
										<div class="row"> 
										 <div class="col-md-3 auth-page"> 
										 </div>
										<div class="col-md-6 auth-page"> 
	                                        <form method="POST" action="/change/password"> 
											   <input type="hidden" name="_xsrf" value="HHCVZjqjT0ncXde4oRjXqdtLpQGTl9E9" />
											   <input type="hidden" name="_once" value="732urKmpnk" /> 
											   <input name="epic_sub_site" value="{{.epic_sub_site}}" type="hidden"/>
											<div class="form-group"> 
											    <label class="control-label" for="PasswordForm-PasswordOld">当前密码</label> 
											    <input id="PasswordForm-PasswordOld" name="PasswordOld" type="password" value="" class="form-control" placeholder="请输入您的当前密码" /> 
											   </div> 
											   <div class="form-group"> 
											    <label class="control-label" for="PasswordForm-Password">新的密码</label> 
											    <input id="PasswordForm-Password" name="Password" type="password" value="" class="form-control" placeholder="请输入新的密码" /> 
											   </div> 
											   <div class="form-group"> 
											    <label class="control-label" for="PasswordForm-PasswordRe">重复输入密码</label> 
											    <input id="PasswordForm-PasswordRe" name="PasswordRe" type="password" value="" class="form-control" placeholder="请再次输入您的密码" /> 
											   </div> 
											   <div class="form-group"> 
											   <button type="submit" class="btn btn-primary">修改密码&nbsp;&nbsp;<i class="icon-chevron-sign-right"></i></button>
											   </div> 
											  </form>
										 </div>
										 <div class="col-md-3 auth-page"> 
										 </div>
										</div>
                                    </div> 
									
                                </div> 
                            </div> 
                        </div> 
                    </div> 
                </div> 
            </div> 
        </div> 
		
		<footer id="footer">
			<div class="container">
				<table class="basic-info">
					<tbody>
						<tr>
							<td align="center" style="font-size: 12px; color:#5e5677;">
								Copyright © 2014-2015 YaceTop Corporation All Rights Reserved
							</td>
							<td align="right"><a href="http://www.miitbeian.gov.cn/" style="color:#aaa;text-decoration:none;"></a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</footer> 
    </body>
</html>